<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.middlebury.drivingsavely" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Drive"
            android:parentActivityName=".MainActivity" >
        </activity>


        <activity
            android:name=".drive_over"
            android:parentActivityName=".drive">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="36bef95b404b83a4c987e90c302583ab727cddd5" />

    </application>

</manifest>
